* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    color: white;
}
body {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 5vw 35vw 5vw;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  margin: 1rem 1rem;
  gap: 0.3vh;
}
header {
  background-color: blue;
  grid-area: header;
}
aside {
  background-color: green;
  grid-area: aside;
}
main {
  background-color: red;
  grid-area: main;
}
footer {
  background-color: purple;
  grid-area: footer;
}
