*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Cousine;
    src: url(../fonts/Cousine/Cousine-Regular.ttf);
    
}
@font-face {
        font-family: Didact_Gothic;
        src: url(../fonts/Didact_Gothic/DidactGothic-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Bely;
    src: url(../fonts/OnlineWebFonts_COM_fab43baeae897c621748b5044afce369/Bely/Bely.ttf);
}
html{
color: #303031;
font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #71a894;
    border-radius: 10px;
    color: white;
    width: 18vw;
    height: 8vh;
    font-size: 18px;
    font-weight: bold;
}
/* ---------------------------------- */

.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5vh auto;
    height: 50px;
    width: 95%;
    /* background-color: green; */
}
.logo{
    display: flex;
    /* background-color: red; */
    width: 26%;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
    width: 50%;
}
a{
    text-decoration: none;
    color: #303031;
    font-size: 20px;
}
.last_link{
    color: #71a894;
}
section{
    display: flex;
}
.new_model{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: blue; */
    width: 35%;
    height: 450px;
    margin: 10vh auto;
}
.new_model h2{
    font-size: 64px;
    font-family: bely, Arial, Helvetica, sans-serif;
    
}
.new_model p{
    font-size: 24px;
}

/* ----------------------------------- */

.intro{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    height: 18vh;
}
.headline_bottom{
    font-size: 48px;
    font-weight: bold;
    font-family: Bely, Arial, Helvetica, sans-serif;
}
.intro p{
    text-align: center;
    width: 70%;
}
.workforce{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    width: 95%;
}
.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
    height: 40vh;
    width: 28%;
    border-radius: 8px;
    box-shadow: 0 2 8 0 #000000 10%;
}
.box p{
    text-align: center;
}

/* ---------------------------- */

.kickstart{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 15vh auto;
    /* background-color: red; */
}
.info{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 40%;
}
.updates{

}
.devider{
    background-image: url(../img/Divider.png);
    background-repeat: no-repeat;
    height: 10vh;
    margin-top: 10vh;
}
.tasks{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 10vh auto;
}
.view_more{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
    height: 10vh;
    width: 15%;
    margin: 5vh auto;
    border-radius: 10px;
}
.view_more a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}