img.Surfer_1{
    inline-size: 400px;
}
img.Wiese{
    inline-size: 50%;
}
img.Fassade{
    inline-size: 20em;
}
img.Poden{
    width: 40rem;
}
img.Doggo{
    inline-size: 35vw;
}
img.Igel{
    inline-size: 75vh;
}