*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
html{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;
}
.wrapper{
    padding: 0 1vw;
}
/* !HEADER */
header{
    /* background-color: red; */
    padding: 1vh 3vw;
    
}
nav a{
    color: #659D89;
    text-decoration: none;
    font-size: 14px;
    margin: 20px auto 60px auto;
    padding-right: 2vw;
    width: 100%;
}
nav{
    margin-bottom: 60px;
}
.topic{
    font-size: 50px;
    margin: 0 auto 60px auto;

}
.topic h1{
    color: #659D89;
}
.signs_header{
    /* background-color: blue; */
    text-align: center;
    display: inline-block;
    padding-left: 97%;
    margin-bottom: 40px;
}
.browse{
    margin-bottom: 200px;
}
/* #main */

.gif_1-3{
    background-color: blue;
}
