*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
fieldset{
    border-color: black;
    border-style: solid;
    margin: 1vh;
}
form{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: brown; */
    padding: 2vh;
    padding-right: 520px;
  
}
legend{
    margin-left: 2vh;
}
.buttons{
    padding: 0 1vh 0 1vh;
    margin-top: 1vh;
}