header h1{
    background-color: aquamarine;
    text-align: center;
    max-width: 50%;
    max-height: 100%;
    height: 30%;
    margin-left: 25%;
}
body{
    background: 
    url(../css/img/eirik-skarstein-Xjv88buY8x0-unsplash.jpg) center no-repeat;
    background-size: cover;
}